/* ====================================================
   Variables globales (couleurs, typographie, tailles)
   ==================================================== */

:root {
    /* Couleurs */
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

/* ===================
   Éléments de base
   =================== */

/* Task 1 */
html {
    scroll-behavior: smooth;
}

/* Task 2, 3 */
body {
    color: var(--text-color);
}

/* Task 2, 3 */
a {
    color: var(--text-color);
}

/* Task 2 */
.visually-hidden {
    display: none;
}

/* Task 2, 3 */
.card-category {
    color: var(--color-primary);
}

/* Task 2, 3 */
.section-tagline {
    color: var(--color-primary);
}
